<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blueeyescloud.ext"
   >
    <!--  android:sharedUserId="android.uid.system"-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />

<!--    <uses-permission android:name="android.permission.SHUTDOWN" /> &lt;!&ndash; 关机权限 &ndash;&gt;-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".ExtApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.ExtHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name=".TestActivity" />
        <activity android:name=".devicemaster.home.HomeActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="blueeyescloud.com" android:path="/devicemaster" android:scheme="ext"/>
            </intent-filter>
        </activity>

        <activity android:name=".virtualgps.VirtualGpsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="blueeyescloud.com" android:path="/virtualgps" android:scheme="ext"/>
            </intent-filter>
        </activity>

        <activity android:name=".devicemaster.plan.ui.ActivityPlan"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity android:name=".devicemaster.myplanlist.ActivityMyPlanList" />

        <activity android:name=".devicemaster.plan.ui.ActivitySelfSelectDevice"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity android:name=".devicemaster.clean.ActivityAppClean" />
    </application>

</manifest>